@charset "UTF-8";
/* CSS Document */


.container {
	position: relative;
	background: #333;
	width: 940px;
	height: 730px; 
	margin:40px auto;
}

.row {
	margin-left: 30px;
	margin-top: 40px;
}

.icon-info-sign {
	margin-left: -25px;
}

.icon-map-marker {
	margin-left: -25px;
}

h3 {
	text-transform: uppercase;
}

/*Footer*/
.footer {
	width: 940px;
	position: relative;
	z-index: 1;
	margin-left: 20px;
	margin-top: 55px;	
}

